<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <title>BOPPs</title>
</head>

<body class=  "container mt-4" style="background-color: rgb(230, 238, 246)">
    <!-- <img src="/images/stw-logo.png" height="40" width="100"></img> -->
    <img src="./images/stw-logo.png" height="80" width="200" class="rounded float-right" alt="STW">
    <h2 class="display-4" style="color: rgb(11, 86, 164)">Burst On Private Property</h2>

    <h3>Customer Permissions Received</h2>
        <p></p>
        <table>
            <tr>
                <th>Job No</th>
                <th>Name</th>
                <th>Address</th>
                <th>Telephone</th>
                <th>Owner Name</th>
                <th>Owner Address</th>
                <th>Owner Telephone</th>
                <th>Actioned</th>
            </tr>
            <% recs.forEach(function(rec) { %>
            <tr>
                <td>
                    <%=rec.jobno%>
                </td>
                <td>
                    <%=rec.name%>
                </td>
                <td>
                    <%=rec.address%>
                </td>
                <td>
                    <%=rec.tel%>
                </td>
                <td>
                    <%=rec.ownername%>
                </td>
                <td>
                    <%=rec.owneraddress%>
                </td>
                <td>
                    <%=rec.ownertel%>
                </td>
                <td>
                    <%=rec.date%>
                </td>
                <td>
                    <%=rec.actioned%>
                </td>
            </tr>
            <% }); %>
        </table>

</body>


<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>

</html>